html {
    box-sizing: border-box;
    min-width: min-content;
    min-height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: url('./assets/LYzUQom.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}